@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --system-font: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
  --font-size: 16px;

  --default-text-color: #222;
  --default-color: hsl(226, 42%, 25%);
  --default-color--dark: darken(#33447d, 20%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--default-text-color);
  font-size: var(--font-size);
  background: hsl(226, 42%, 25%);
  background: linear-gradient(
    90deg,
    rgba(22, 30, 54, 1) 0%,
    rgba(37, 49, 90, 1) 50%,
    rgba(52, 71, 127, 1) 100%
  );
  font-family: var(--system-font);
  line-height: 1;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  line-height: 1.4em;
}

.linkUnderlineHover:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-top: 4px;
  background: #fff;
  transition: width 0.3s;
}

.linkUnderlineHover:hover:after {
  width: 100%;
}

.linkUnderlineHover.active:after {
  width: 100%;
}
